#button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.item, .score-item {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}