#button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}